<?xml version="1.0"?>
<robot name="obstacle">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../mesh/obstacle.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../mesh/obstacle.obj"/>
      </geometry>
      <!-- <sdf resolution="512"/> -->
    </collision>
  </link>
</robot>